

.Layout,
.Layout * {
    box-sizing: border-box;
}

.Layout {
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
}

.Layout__left-panel,
.Layout__right-panel {
    height: 100%;
}

.Layout__right-panel {
    overflow-y: auto;
}

